<div id="bazinga"></div>
<nav data-scroll-header>
  ...
</nav>
<div class="header">
  <div class="logo">
    <a href="/">
      <img src="{{path}}img/svg/whale-logo.svg" alt="logo">
    </a>
  </div>
  <!-- Hamburger -->
  <div class="hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="main-menu">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/materials">Материалы</a></li>
      {{!-- <li><a href="/courses">Бесплатные курсы</a></li> --}}
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </div>

  <div class="thanks-for-subscription">
    <p>Вы подписаны на новости</p>
    <input type="button" value="Ок" class="success-subscribe-button">
  </div>

</div>